
doctype html
html
  head
    title Notifications
    meta charset="UTF-8"
    link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
  body
    .container
      .row
        .col-md-12
          h1 Contacts
          table.table
            tr
              th Name
              th Email
              th Phone
              th Tags
              th State
            tr
              td Vasya
              td vasya@example.com
              td +79991112233
              td letual, mosmetro, Горячие вечеринки Санкт-Петербурга
              td
                span.label.label-success Подтвержден
            tr
              td Vasya
              td vasya@example.com
              td +79991112233
              td letual, mosmetro, Горячие вечеринки Санкт-Петербурга
              td
                span.label.label-danger Запретил посылать сообщения
            tr
              td Vasya
              td vasya@example.com
              td +79991112233
              td letual, mosmetro, Горячие вечеринки Санкт-Петербурга
              td
                span.label.label-default Отправлен запрос
